<!-- app/views/teams/index.html.erb -->
<h1>Teams</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
