// $background-color: #EAE7DC;
// $card-color: #D8C3A5;
// $text-color: #8E8D8A;

// $primary-color: #e43c13;

// $background-color:#ECE9E1;

$background-color: #244855;
$card-color: #90AEAD;
$text-color: #8E8D8A;

$primary-color: #244855;

$background-color:#ECE9E1;
