/* app/assets/stylesheets/matches.css.scss */
.matches-container {
  background-color: $background-color;
}

.match {
  background-color: $background-color;
  color: $text-color;
  display: flex;
  width: 50%; /* Adjust width as needed */
  justify-content: center;
  margin: 10px auto; /* Simplify margin for centering and spacing */
  padding: 15px; /* Add padding for inner spacing */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.match img {
  max-width: 50%; /* Adjust image size as needed */
  border-radius: 50%; /* Ensure the image is round */
}

.friend-name {
  text-align: center;
  font-size: 20px; /* Adjust font size as needed */
  color: $primary-color;
}

.team-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.team-score, .winner {
  text-align: center;
  width: 50%; /* Adjust width as needed */
}

.winner {
  color: #874F41;
  font-size: 35px;
  padding: 5px;
  border: 2px solid $primary-color;
}

.event-summary {
  text-align: center;
  margin-top: -30px;
}

.match-details {
  p {
    font-size: small;
    text-align: center; /* Align center for responsiveness */
    margin: 5px 0;
  }
}

h1 {
  text-align: center;
  color: $primary-color;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.matches-list {
  .match {
    .friend-name {
      margin-top: 10px;
    }

    .team-name {
      font-family: 'Kavoon', cursive;
      font-size: 25px;
      color: black;
    }

    .team-scores {
      flex-direction: column;
      font-family: 'Kavoon', cursive;
      font-size: 26px; /* Adjust font size as needed */
      color: black;

      .team-score, .winner {
        font-size: 20px;
        margin-bottom: 5px;
        width: 90%;
      }
    }

    .match-details {
      p {
        font-size: 0.9rem;
      }
    }
  }
}

.refresh-button {
  background-color: #aba000; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  margin-left: 25px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 12px; /* Adjust font size for readability */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.refresh-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.filters {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.filters .filter-label {
  background: $primary-color;
  color: $background-color;
  border: none;
  border-radius: 5px;
  padding: 12px 20px; /* Increase padding for easier tapping */
  margin-right: 10px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center; /* Center align text */


  font-size: 12px; /* Adjust font size for readability */
}


.filters .filter-label:hover {
  background: darken($primary-color, 10%);
}

.filters .filter-label.active {
  background: darken($primary-color, 20%);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .match {
    width: 90%;
    margin: 10px auto; /* Adjust margin for centering */
    padding: 10px; /* Adjust padding as needed */
  }

  .team-scores {
    .team-score, .winner {
      width: 90%; /* Adjust width for smaller screens */
    }
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .match {
    width: 80%;
    margin: 10px auto; /* Adjust margin for centering */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 30px;
  }

  .team-scores {
    .team-score, .winner {
      width: 90%; /* Adjust width for smaller screens */
    }
  }

  h1 {
    font-size: 1.2rem;
  }
}
