/* Navbar styling */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}


.nav-title h1 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

/* Nav buttons styling */
.nav-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Button styling */
.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

}

.button:hover,
.button:focus {
  background-color: #e67b00;
  transform: translateY(-2px);
}

.button:active {

  transform: translateY(1px);
}

/* Mobile-first styling */
@media (min-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }

  .nav-buttons {
    justify-content: center;
  }
}
