<nav class="navbar">
  <div class="nav-title">
    <h1>European Championships 2024</h1>
  </div>
  <div class="nav-buttons">
    <a href="<%= leaderboard_path(:show) %>" class="button">Leaderboard</a>
    <a href="<%= matches_path %>" class="button">Matches</a>
    <a href="<%= leaderboard_index_path %>" class="button">Groups</a>
  </div>
</nav>
